<% layout('layout/boilerplateAdmin') %>
    <link rel="stylesheet" href="/styles/admin/editProducts.css">

    <body>
        <div id="container">
            <div class="card">
                <h3>Edit product</h3>
                <!-- the path below is relative, you will use inside admin/products, then will append product._id -->
                <form id="batata" method="POST" action="<%= product._id %>?_method=PUT">
                    <div class="formItem">
                        <label for="productName">Product name</label>
                        <input value="<%= product.name %>" id="productName" name="name" type="text">
                    </div>
                    <div class="formItem">
                        <label for="productDescription">Product description</label>
                        <textarea id="productDescription" name="description" type="text"><%= product.description %>
                        </textarea>
                        <button>Submit</button>
                </form>

            </div>
            <div class="stockCard">
                <h2>Stock:</h2>
                <% for (let i=0; i < product.skus.length; i ++) {%>
                    <div class="skus">
                        <div>
                            Size: <%= product.skus[i].size %>
                        </div>
                        <div>
                            Sku: <%= product.skus[i].sku %>
                        </div>
                        <div>
                            Price: <%= product.skus[i].price %>
                        </div>
                        <div>
                            Quantity in stock: <%= product.skus[i].quantity %>
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="appendSku">
                <!-- This path is absolute, when you put "/" before the path will be absolute -->
                <form method="POST" action="/admin/products/sku/<%= product._id %>">
                    <div class="formItem">
                        <label for="productSku">Sku</label>
                        <input id="productSku" name="sku" type="text">
                        <p>Example: sku: BJ(Bomber jacket) + size + any feature
                            BJLZ
                        </p>
                    </div>
                    <div class="formItem">
                        <label for="productPrice">Product price</label>
                        <input id="productPrice" name="price" type="number">
                    </div>
                    <div class="formItem">
                        <label for="productSize">Size</label>
                        <input class="sizeRadioButtons" type="radio" name="size" id="productSize" value="S">
                        <input class="sizeRadioButtons" type="radio" name="size" id="productSize" value="M">
                        <input class="sizeRadioButtons" type="radio" name="size" id="productSize" value="L">
                    </div>
                    <div class="formItem">
                        <label for="productQty">Quantity in stock</label>
                        <input name="quantity" id="productQty" type="number">
                    </div>
                    <button>SubmitSKU</button>
                </form>
            </div>
        </div>
        <div id="imgDiv">
            <img id="productImg" src="<%= product.imgSrc  %>" alt="">
        </div>
        </div>
    </body>